# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# dotenv environment variables
.env
.env.*

# Render.com build artifacts
render.yaml

# Local config
*.local
